

//

//общие значения


$colorOrange: #FF862F;
$colorOrange2: #FFBD59;
$colorOrange3: #FFF5D1;
$colorOrange4: #BB370E;
$colorViolet: #A65CF0;
$colorGrey: #F6F6F6;
$colorBlack:#333333;
$colorWhite: #FFFFFF;
$colorDarkGrey:#999999;
$colorGold: #D5B986;
$color3Grey: #EAEAEA;
$color4Drey:#666666;
$colorViolet2: #C998FB;
$colorViolet3: #7033AC;
$colorViolet4: #EBD1FF;
$colorViolet5: #F8EFFF;
$colorRed: #FF6972;
$colorGreen: #B8EC64;






